<html>
  <head>
    <title>{{title}}</title>
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS HS -->
    <link
      rel="stylesheet"
      href="https://preline.co/assets/css/main.min.css?v=1.0.0"
    />
  </head>
  <body class="bg-gray-100 flex h-full items-center py-16 dark:bg-neutral-800">
    {{{body}}}

    <!-- JS PLUGINS -->
    <!-- Required plugins -->
    <script
      src="https://preline.co/assets/vendor/preline/dist/index.js?v=1.0.0"
    ></script>
  </body>
</html>